<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="ui grid">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <form class="form ui form segment" method="post" enctype="multipart/form-data">
          <div class="field required">
            <label>用户名</label>
            <input placeholder="用户名" type="text" name="name">
          </div>
          <div class="field required">
            <label>账号</label>
            <input placeholder="账号" type="number" name="account">
          </div>
          <div class="field required">
            <label>密码</label>
            <input placeholder="密码" type="password" name="password">
          </div>
          <div class="field required">
            <label>重复密码</label>
            <input placeholder="重复密码" type="password" name="repassword">
          </div>
          <div class="field required">
            <label>性别</label>
            <select class="ui compact selection dropdown" name="gender">
              <option value="boy">男</option>
              <option value="girl">女</option>
              <option value="x">保密</option>
            </select>
          </div>
          <div class="field required">
            <label>头像</label>
            <input type="file" name="avatar">
          </div>
          <div class="field required">
            <label>个人简介</label>
            <textarea name="introduction" rows="5"></textarea>
          </div>
          <input type="submit" class="ui button fluid" value="注册">
        </form>
      </div>
    </div>
  </body>
</html>
